/* Basic CSS reset */
*,
:after,
:before {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

html {
	font-size: 100%;
	overflow-x: hidden;
}

.page_body {
	font-family: Lato, Geneva, serif;
	color: #333333;
	max-width: 1680px;

}

.intro_box {
	height: 753px;
	border-bottom: solid 20px #591c48;
	border-top: solid 20px #591c48;
	background-color: #f4d0ea;
	width: 100%;
	z-index: 10;
}

.intro {
	margin: 250px 100px;
}

.name {
	margin-bottom: 20px;
	font-size: 90px;
	font-weight: lighter;
}

.underline1 {
	width: 200px;
	height: 1.5px;
	background-color: #feeaf6;
}

.description {
	margin-top: 20px;
}



.circle1 {
	position: absolute;
	left: 300px;
	top: 450px;
	border-radius: 100px;
	height: 150px;
	width: 150px;
	background-color: #591c48;
}

.circle2 {
	position: absolute;
	right: -130px;
	top: -80px;
	border-radius: 2000px;
	height: 550px;
	width: 550px;
	background-color: #591c48;
}

.circle3 {
	position: absolute;
	right: 390px;
	top: 400px;
	border-radius: 2000px;
	height: 280px;
	width: 280px;
	background-color: #feeaf6;
}

.circle4 {
	position: absolute;
	left: 90px;
	top: 70px;
	border-radius: 2000px;
	height: 150px;
	width: 150px;
	background-color: #feeaf6;
}

.circle_pic {
	max-width: 280px;
	border-radius: 1000px;
	z-index: 2;
	position: absolute;
	right: 500px;
	top: 300px;
}


.about_section {
	height: 753px;
	background-color: white;
	display: flex;
	align-content: space-between;
	padding-left: 50px;
}

.about_box {
	width: 400px;
	margin: auto;
}

.about_header {
	text-align: center;
	font-size: 90px;
	font-weight: lighter;
}

.underline2 {
	width: 150px;
	height: 1.5px;
	background-color: #f4d0ea;
	margin: auto;
	margin-bottom: 50px;
}

.about_small_box {
	background-color: #feeaf6;
	text-align: center;
	margin-bottom: 20px;
	padding: 20px;
	font-size: 20px;
}

.quote {
	margin-top: 50px;
}

.profile_pic_box {
	
}

#pofile_pic1 {
	max-height: 500px;
	position: relative;
	z-index: 1;
}

#pofile_pic2 {
	max-height: 500px;
	position: relative;
}

.animation {
	animation: float 1s  ease-out forwards;
}

.animation2 {
	animation: float2 1s  ease-out forwards;
}

@keyframes float {
	from {
		top: 200px;
	}

	to {
		top: 30px;
	}
}

@keyframes float2 {
	from {
		top: 0;
	}

	to {
		top: 220px;
	}
}

.video_box {
	min-height: 830px;
	background-color: #591c48;
}

.line1 {
	background-color: #f4d0ea;
	position: relative;
	top: 100px;
	width: 400px;
	height: 5px;
}

.line2 {
	background-color: #f4d0ea;
	position: relative;
	top: 150px;
	width: 550px;
	height: 5px;
}

.line3 {
	background-color: #f4d0ea;
	position: relative;
	width: 500px;
	height: 5px;
}

.video {
	width: 800px;
	display: block;
	margin: auto;
	margin-top: 190px;
}

.play {
	width: 100px;
	margin: 30px;
	cursor: pointer;
}

.controls {
	display: flex;
	justify-content: center;
}


.gd_section {
	height: 800px;
	background-color: white;
}

.gd_header {
	text-align: center;
	margin: 70px;
	font-size: 90px;
	font-weight: lighter;
}

.columns {
	display: flex;
	justify-content: space-around;
	margin: auto 200px;
}

.column {
	max-width: 400px;
}

.column_pic {
	width: 400px;
}

.column_text {
	background-color: #feeaf6;
	height: 230px;
	padding: 20px;
	margin-top: 50px;
}


.photography_section {
	padding: 90px;
	background-color: #f4d0ea;
}

.photography_header {
	text-align: center;
	font-size: 90px;
	font-weight: lighter;
}

.photogallery {
	margin: 50px 200px;
	display: flex;
}

.quote_photos {
	text-align: center;
}

.photo {
	width: 250px;
	margin: 40px;
}

.logos_section {
	padding: 90px;
}

.logos_header {
	text-align: center;
	font-size: 90px;
	font-weight: lighter;
}

.logo_line {
	width: 200px;
	height: 1.5px;
	background-color: #f4d0ea;
	margin: auto;
}

.logos {
	display: flex;
	flex-direction: column;
	margin: 50px 170px;
}



.page_footer {
	margin-bottom: 0;
	width: 100%;
	background-color: #f4d0ea;
	border-top: solid 20px #591c48;
	padding: 40px 0 10px;
}

.footer {
	display: flex;
	justify-content: space-around;
	margin-bottom: 40px;
}

.footer_header {
	margin-bottom: 20px;
	font-size: 50px;
	font-weight: lighter;
}

.contact {
	font-style: italic;
	margin-top: 5px;
}


.some_icon {
	height: 35px;
	margin: 110px 10px 0;
}
